@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
  font-family: "Roboto Condensed" sans-serif;
}


/****************************** Navbar ***************************************/
/* USe ninja units for pixel to rem */

.logo{
  width: 6.25rem;
}

/****************************** Navbar Links ***************************************/

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #fff !important;
  border-bottom: 0.1875rem solid rgb(255, 255, 255, 0);
}

.navbar-brand {
  max-width: 10.25 rem;
  padding: 0 !important;
  height: 5rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-bottom: 0.1875rem solid #fff;
} 

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid #fff;
} 
